/*================= Media Query===============*/

/*======small Screen 576px>= =====*/

@media screen and (min-width: 576px) {
    .container {
        width: 85%;
    }
    #navbar .menu input[type="checkbox"]:checked ~ ul {
        transform: translateX(30%);
    }
}

/*=====Medium Screen 768px>= =========*/
@media screen and (min-width: 768px) {
    .md-100 {
        width: 100%;
    }
    .md-50 {
        width: 50%;
    }
    .md-33 {
        width: 33.33333%;
    }
    .md-25 {
        width: 25%;
    }
    .md-20 {
        width: 20%;
    }
    .md-16 {
        width: 16.66667%;
    }

    .container {
        width: 90%;
    }

    #header {
        margin-top: 0;
    }

    #header .container {
        padding: 40px 10px;
        margin-top: 90px;
    }

    #header .header-content .text-header {
        padding-left: 20px;
        padding-right: 20px;
    }

    #header .header-content .text-header .title {
        width: 60%;
        margin: auto;
    }

    #header .header-image {
        width: 100%;
    }

    /* ----------------Chefs srction--------- */
    #chefs .chefs-cards .card {
        padding-left: 15px;
        padding-right: 15px;
    }
    /*-------------Gallery Section----------*/
    #gallery {
        padding-bottom: 0;
    }
    #gallery .gallery-images {
        height: 100vw;
        height: 1570px;
    }

    #gallery .gallery-images .image {
        /*media*/
        width: calc((100% - var(--gap) ) / 2);
    }

    /* -----Section contact----- */
    #contact .contact-icon .contact-details {
        /* media */
        flex-basis: calc((100% - var(--gap)) / 2);
    }
}

/*========large Screen 992px =============*/
@media screen and (min-width: 992px) {
    .l-100 {
        width: 100%;
    }
    .l-50 {
        width: 50%;
    }
    .l-33 {
        width: 33.33333%;
    }
    .l-25 {
        width: 25%;
    }
    .l-20 {
        width: 20%;
    }
    .l-16 {
        width: 16.66667%;
    }

    #header {
        min-height: 90vh;
    }
    #header .container {
        flex-direction: row;
    }

    #header .header-content {
        order: -1;
        text-align: left;
        align-items: flex-start;
    }

    #header .header-content .text-header .title {
        width: 100%;
        margin: auto;
    }

    #header .header-content .text-header {
        padding: 0;
    }

    #header .header-content .header-btn button {
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 0;
    }

    /* ----------Section gallery---------- */

    #gallery .gallery-images {
        height: 100vw;
        height: 920px;
    }

    #gallery .gallery-images .image {
        /*media*/
        width: calc((100% - (var(--gap) * 2)) / 3);
    }

    .gallery-images .image-1 {
        order: 1;
    }

    .gallery-images .image-4 {
        order: 2;
    }

    .gallery-images .image-2 {
        order: 3;
    }

    .gallery-images .image-7 {
        order: 4;
    }

    .gallery-images .image-3 {
        order: 5;
    }

    .gallery-images .image-5 {
        order: 6;
    }
    .gallery-images .image-6 {
        order: 7;
    }

    /*---section contact----*/
    #contact .contact-form .user-info {
        column-gap: var(--gap);
        flex-direction: row;
    }

    #contact .contact-form .user-info .u-name,
    #contact .contact-form .user-info .u-email {
        flex-basis: 50%;
    }
}

/*========large Screen=========*/
@media screen and (min-width: 1200px) {
    .container {
        width: 90%;
    }

    /* hidden icon mobile */
    #navbar .mobile-menu-icon {
        display: none;
    }

    #navbar .container div.dark-mode-toggle {
        padding-right: 0;
        margin-right: 0;
    }

    #navbar .container .menu {
        display: flex;
        flex-direction: row;
        position: static;
        padding: 0;
        right: 0;
        top: 0;
        order: 0;
        z-index: 0;
        align-self: center;
        width: auto;
        height: auto;
    }

    #navbar .menu .linkes {
        display: flex;
        flex-direction: row;
        position: static;
        padding-top: 0;
        transform: translateX(0);
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        align-self: center;
        box-shadow: none;
    }
    #navbar .menu .linkes li {
        padding: 5px 15px;
    }

    /* ============section header=============== */
    #header {
        min-height: 100vh;
    }
    #header .container {
        flex-direction: row;
        padding: 0;
    }

    #header .header-content {
        text-align: left;
        align-items: flex-start;
    }

    #header .header-content .header-btn button {
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 0;
    }

    /*====== section Gallary=========*/
    #gallery .gallery-images {
        height: 100vw;
        height: 1050px;
    }
}
